body {
    background-color: rgb(116, 97, 209);
    margin-left: 0px;
  }
  
  h1 {
    color: black;
    margin-left: 0px;
  }

  h2 {
    color: black;
    margin-left: 0px;
  }

  h3 {
    color: white;
    margin-left: 0px;
  }

  h4 {
    color: black;
    margin-left: 0px;
  }

  h5 {
    color: black;
    margin-left: 0px;
  }

  p {
    color: white;
    margin-left: 0px;
  }
  
 